.button{
    // &input[type='submit']{
        border: none;
        background-color: #333333;
        color: #ffffff;
        padding: 1em;
        font-size: 1em;
        border-radius: $border-radius;
        cursor: pointer;
        outline: 0;
    // }

    &:hover{
        background-color: #444444;
    }

    &.active{
        background-color: #49ba8e;
    }
}