.conversation-header{
    height: $header-height;
    padding: 10px;
    box-shadow: 0px 0px 4px #{$box-shadow-color};
    display: flex;
    align-items: center;
    .header-user-info{
        display: flex;
        align-items: center;
        .user-icon{
            margin-right: 10px;
        }
    }
}