.label-tag{
    padding: 0.4em 0.7em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.86em;
    margin: 0px 4px;

    .close{
        padding-left: 0.3em;
        font-size: 1.2em;
        vertical-align: top;
        cursor: pointer;
    }
}