.movie-card{
    width: 232px;
    height: 330px;
    // background: rgba(0,0,0,0.5);
    margin: 1em;
    cursor: pointer;

    .movie-title{
        font-size: 0.86em;
        margin-top: 0.4em;
    }

    .thumbnail{
        position: relative;
        height: 300px;
        // width: 100%;

        .release-info {
            position: absolute;
            width: 40px;
            height: 40px;
            background: $app-primary-color;
            right: 10px;
            top: 10px;
            border-radius: 50%;
            text-align: center;
            font-size: 0.8em;
            padding: 0.2em;
        }

        .rating-info{
            position: absolute;
            padding: 10px;
            right: 0px;
            bottom: 0px;
            text-align: right;
            width: 100%;
            box-shadow: 0px -20px 30px rgba(0,0,0,0.3) inset;
            background-color: rgba(0,0,0,0.01);

            .fa.fa-thumbs-up{
                color: $app-primary-color;
            }

            .votes{
                font-size: 0.8em;
            }
        }

        .play-button {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            
            &::before, &::after{
                content: " ";
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.3s linear;
            }

            &::before{
                // content: " ";
                width: 50px;
                height: 50px;
                border: 4px solid white;
                // position: absolute;
                border-radius: 50%;
                left: 0;
                right: 0;
                // top: 0;
                // bottom: 0;
                // margin: auto;
            }

            &::after{
                // content: " ";
                // position: absolute;
                left: calc(50% - 7px);
                // top: 0;
                // bottom: 0;
                // margin: auto;
                width: 0px;
                height: 0px;
                border: 10px solid white;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-top-color: transparent;
                border-left-width: 17px;
                border-right-width: 0px;
            }

            // &:hover::before, &:hover::after{
            //     transform: scale(1.2);
            // }
        }
    }

    &:hover{
        .thumbnail{
            .play-button{
                &::before, &::after{
                    transform: scale(1.2);
                }
            }
        }
    }
}