.notification-toast{
    position: fixed;
    z-index: 1000;
    .notification-toast-notice{
        background: white;
        padding: 10px 50px 10px 15px;
        border: 1px solid #eee;
        width: 400px;
        margin-bottom: 20px;
        position: relative;

        .title{
            font-size: 1.1em;
            font-weight: bold;
        }

        .message{
            margin-top: 3px;
        }

        .notification-toast-notice-content{
            display: flex;
            align-items: center;

            > .fa{
                font-size: 1.5em;
                margin-right: 10px;
            }
        }

        .notification-toast-notice-close{
            position: absolute;
            top: 13px;
            right: 10px;
            color: inherit;
        }
            
    }

    .info.notification-toast-notice{
        background-color: #C6DBF4;
        border-color: #B9CEE5;
        color: #325375;
    }

    .warn.notification-toast-notice{
        background-color: #F4E8C5;
        border-color: #EAE1C9;
        color: #7F6A2A;
    }

    .success.notification-toast-notice{
        background-color: #CBE3D0;
        border-color: #BDD0C0;
        color: #3E6C4D;
    }

    .error.notification-toast-notice{
        background-color: #ECCECF;
        border-color: #DCC3C5;
        color: #683339;
    }
}