.select-container{
    min-width: 100px;
    .select-box{    
        padding: 0.5em 0em;
        border: 1px solid;
        color: #49ba8e;
        border-radius: $border-radius;
        display: flex;
        cursor: pointer; 

        .indicator{
            width: calc(100% - 20px);
            padding-left: 0.5em;
        }

        .arrow{
            width: 20px;
            text-align: center;
        }
    }
}

.select-options {
    border-radius: 4px;
    background-color: #333333;
    color: $app-primary-color;
    // font-size: 0.75em;
    min-width: 100px;

    .option{
        padding: 0.3em;
        padding-left: 0.5em;
        cursor: pointer; 
    }
}