$option-color: #586073;
$icon-margin: 10px;

.app-sidebar{
    width: $sidebar-width;
    background-color: $sidebar-background;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
    padding: $icon-margin;
    .options{
        margin-top: 30px;
        list-style: none;
        padding: 0;
        li{
            text-align: center;
            font-size: 1.5em;
            color: $option-color;
            padding: 15px 0px;
            // margin: 0px 20px;
            // border-bottom: 1px solid #ccc;
            cursor: pointer;
            &:hover, .selected{
                color: $primary-blue;
            }
            &:last-child{
                // border-bottom: none;
            }
        }
    }
}

.user-icon{
    height: calc(#{$sidebar-width} - #{$icon-margin * 2});
    // padding: 10px;
    border-radius: 50%;
    background-color: $primary-blue;
    // margin: $icon-margin;
    overflow: hidden;
    img{
        // display: none;
        height: 100%;
    }
}