$sidebar-background: #ffffff;
$primary-blue: #1C92FE;
$app-background: #1C1C1C;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$app-text-color: #FFFFFF;
$app-primary-color: #49ba8e;
$header-bg-color: #000000;
$sidebar-width: 60px;
$header-height: 70px;
$message-input-min-height: 60px;
$border-radius: 4px;