.App {
    display: flex;
    // height: 100vh;
    min-height: 100vh;
    background-color: $app-background;
    color: $app-text-color;
    * {
        box-sizing: border-box;
    }

    
    .filter-details{
        padding: 0.5em 1em;
        height: 35px;
        position: fixed;
        top: 70px;
        z-index: 998;
        width: 100%;
        background-color: #1C1C1C;
    }

}
