.app-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: $header-bg-color;
    font-size: 0.75em;
    z-index: 999;

    .left-container, .right-container{
        display: flex;
        align-items: center;

        > *{
            margin-left: 10px;
        }
    }

    .clear-filter{
        font-size: 2em;
        color: $app-primary-color;
        margin-right: 10px;
    }
}