.main-container{
    // flex-basis: calc(100% - 300px);
    flex: 1;
    display: flex;
    padding-top: $header-height;
    flex-direction: column;

    .trailer-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}