
.login-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .box{
        width: 750px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        > .login{
            transition: margin .5s cubic-bezier(0.23, 1, 0.32, 1);
        }

        > .login, > .signup{
            width: 100%;
            height: 100%;
            display: flex;
            padding: 1em;
            background-color: white;
            border-radius: 10px;

            > div {
                flex: 1;
                padding: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        > .login:not(.active){
            margin-top: -500px;
        }

        > .login > div:first-child, > .signup > div:last-child {
            justify-content: flex-end;
        }


        .form-group{
            margin-top: 1.5em;
        }

        .input-box{
            border-bottom: 1px solid;
            height: 30px;
            display: flex;
            align-items: center;

            > input{
                flex: 1;
                padding-left: 1em;
                border: none;
                font-size: 1em;
                outline: 0;
            }
        }

        form{
            padding: .5em 0em;
        }
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 100px white inset;
        }

        .button.primary{
        //     border: none;
        //     background: #6dabe4;
        //     color: white;
            padding: 1em 2em;
        //     font-size: 1em;
        //     border-radius: 5px;
        //     cursor: pointer;
        }

        .oauth-signin{
            margin: 1em 0em;

            > .fab{
                font-size: 1.5em;
                vertical-align: sub;
            }

            > .fa-facebook{
                color: #3d5699;
            }

            > .fa-google-plus-square{
                color: #f62238;
            }
        }

        .create-account-button{
            margin: 1em 0em;
            text-align: center;
        }

        input[type="checkbox"] + span {
            font-size: .75em;
        }

        .signup > div:nth-child(2), .login > div:first-child{
            background-image: url(/assets/images/signup-bg.png);
            background-repeat: no-repeat;
            background-position: center 30px;
        }

        .error-msg{
            height: 2em;
            margin-top: 1em;
            color: red;
        }
    }

}

// .box > .login > div:first-child, .box > .signup > div:last-child {
//     justify-content: flex-end;
// }
